<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <style>
        .container {
            padding: 16px;
        }
        .padding{
            padding-top: 15%;
            padding-left: 30%;
            }
            
        
    </style>
    <h2>Login</h2>
    </head>

<body>   
    <div class="container-fulid bg-image fontnew">
    <div  class="container padding ">
        <h2 style="padding-left: 0%;">Login Admin</h2>
        <p></p>
        <!-- <label for="uname"><b>Username  </b></label> -->
        <input type="text" placeholder="Username" name="uname" required>
        <p></p>
        <!-- <label for="pword"><b>Password  </b></label> -->
        <input type="password" placeholder="Password" name="psw" required>
        <p></p>
        <div class="btn-toolbar " style="padding-left: 2% ">
        <a routerLink="/dashboard"><button type="button" class="btn btn-primary" (click)="onClickMe()">Login</button></a>
        <a routerLink="/"><button style="margin:3%" type="button" class="btn btn-danger"  (click)="onClickMe()">Cancel</button></a>
    </div>
</div>
</div>
</body>
</html>