body {
    margin: 0%;
}

.bg-image {
    background: url("https://wallpapercave.com/wp/wp3186027.jpg");
    width: 100vw;
    height: 100vh;
}

.button {
    border-radius: 1px;
    background-color: #1E90FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 10 px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
  }
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .fontnew{
    font-family: 'Abel', sans-serif;
  }