<!-- body -->
<body>
<div class="fontnew">
  <div class="container-fulid ">
      <nav class="navbar navbar-light bg-light ">
          <a class="navbar-brand fontnew" href="#">
            FoodAI
          </a>
            <a routerLink="/login"><button class="button fontnew" ><span> Login </span></button></a>
          </nav>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="rounded ">
    <div class="carousel-item active ">
      <img class="d-block w-100  "  src="assets/img/slide2.jpg" alt="Responsive image">
    </div>
    <div class="carousel-item ">
      <img class="d-block w-100  " src="assets/img/slide2.jpg" alt="Responsive image">
    </div>
    <div class="carousel-item ">
      <img class="d-block w-100 " src="assets/img/slide2.jpg" alt="Responsive image">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
</body>
<!-- body -->

<!-- Footer -->
<footer class="page-footer unique-color-dark pt-4 fontnew">

    <!-- Footer Elements -->
    <div class="container-fulid">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2 fontnew">
        <li class="list-inline-item">
          <h5 class="mb-1">FoodAI : ถูกสร้างขึ้นมาเพื่อ...</h5>
        </li>
      </ul>
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Desing by :
      <a> XuesLab</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  